.display{
    display: flex;
    justify-content: center;
    background-color: rgb(77, 82, 82);
    height: 200px;
    color: aliceblue;
    padding-top: 20px;
}
.footerMain{
    display: flex;
    flex-direction: row;
}

.footer{
display: flex;
flex-direction: column;
padding-left: 100px;
padding-right: 100px;
}

li{
    padding-top: 20px;
}